* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #637988;
}

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
  color: #000;
}

.container-fluid {
  padding: 0;
}
