/** MAIN **/
main {
  #home {
    margin-top: 85px;
    height: 150px;
    background: url('/images/orlando_main.png') center center no-repeat;
    background-size: cover;

    .overlay {
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  .main-image-content {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;

    .main-heading {
      margin: 0 auto;

      h1 {
        color: #fff;
        text-transform: uppercase;
        font-size: 3.125rem;
      }
      p {
        text-transform: uppercase;
      }
      .break {
        width: 150px;
        border-bottom: 2px solid #00c7fc;;
        content: "";
        margin: 0 auto 1rem;
      }
    }
  }
}
/** TABLET **/
@media screen and (min-width: 500px) {
  main {
    #home {
      height: 350px;
    }
  }
}
/** DESKTOP **/
@media screen and (min-width: 768px) {
  main {
    #home {
      height: 550px;
      margin-top: 90px;
    }
  }
}
