/** MAIN **/
main {
  #home {
    margin-top: 85px;
    height: 150px;
    background: url('/images/orlando_main.png') center center no-repeat;
    background-size: cover;

    .overlay {
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
/** TABLET **/
@media screen and (min-width: 500px) {
  main {
    #home {
      height: 350px;
    }
  }
}
/** DESKTOP **/
@media screen and (min-width: 768px) {
  main {
    #home {
      height: 550px;
      margin-top: 90px;
    }
  }
}
